<h1>Title: <%= @picture.title %></h1>
<img src="<%= @picture.url %>" alt="http://cdn.smosh.com/sites/default/files/ftpuploads/bloguploads/0613/awkward-funny-yearbook-photo-guy-gourd.jpg">

<h2>But is it awesome? </h2>